@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;1,400;1,700&display=swap');

html {
    font-family: 'Gentium Book Plus', 'Garamond', 'Times New Roman', serif;
    font-size: 25px;
}

#passages {
    display: flex;
    align-items: center;
    margin: auto;
    max-width: 40em;
    height: 50vh;
}

.passage {
    position: relative;
    margin: auto;
}

a {
    font-weight: bolder;
}


a.link-broken {
    color: red;
}

a.link-visited {
    font-style: italic;
}

/* delayed text */
.delayed {
    opacity: 0;
}

/* bigger reverse button */
#reverse {
    font-size: 20vh;
}

/* stop listening to dialogue */
.stop {
    position: relative;
    bottom: 0;
}

/* start passage */
body.start,
body.meta {
    background-color: rgb(233, 221, 210);
    color: rgb(16, 8, 8);
}

.passage.start {
    text-align: right;
    margin: auto;
}

.passage.start a,
.passage.meta a {
    color: rgb(189, 11, 11);
}

.endwords {
    transition: all 2s linear;
}

.bold {
    text-shadow: 0 0 5px black;
    transition: 0.6s;
}

/* city */

body.city,
body.citystart {
    background-color: rgb(52, 33, 52);
    color: rgb(255, 255, 215);
}

body.citystart .timer,
body.city .timer {
    color:hsla(60, 100%, 92%, 0.25)
}

.passage.city a,
.passage.citystart a {
    color: yellow;
}

.passage.city a.link-visited,
.passage.citystart a.link-visited {
    color: rgb(222, 148, 12);
}

body.bar {
    background-color: rgb(199, 165, 154);
    color: rgb(4, 3, 3);
}

body.bar .timer {
    color:hsla(0, 26%, 30%, 0.419)
}

.passage.bar a {
    color: rgb(111, 37, 0);
}

.passage.bar a.link-visited {
    color: rgb(116, 2, 74);
}

body.hotel {
    background-color: rgb(100, 38, 60);
    color: rgb(229, 228, 228);
}

.passage.hotel a {
    color: rgb(240, 88, 192);
}

.passage.hotel a.link-visited {
    color: rgb(198, 118, 222);
}

body.hotel .timer {
    color:rgba(167, 132, 132, 0.482);
}